<section>
  <div id="top-section">
      <app-sociallinks></app-sociallinks>
  </div>

<div id="intro-section">
  <div class="cover-wrap">
    <img id="top-logo" src="assets/vynil.png" alt="" />

          <h1 class="main-heading">
              Simplistic Music</h1>
          <sub class="sub-title-home">The Home Of Good Music</sub>
          <div id="enter-site"><a id="enter_site_link" routerLink="/app-tour">Enter my site <i class="fas fa-door-open"></i></a></div>

  </div>

</div>

</section>

